/* HEADER */
.portfolio-header {
  padding: 70px 15px;
}

.under-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.portfolio-spacer {
  height: 90px;
}

.h1-huge {
  font-size: 5em;
  text-align: center;
  line-height: 1.1;
  font-weight: 300;
}

.bio-title {
  font-size: 14px;
  font-family: var(--font-lato);
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.4);
}

.metrics-value {
  font-size: 72px;
  text-align: right;
}

.text-right {
  text-align: right;
}

.info-gap-value {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 45px;
}

.portfolio-clues {
  display: grid;
  grid-template-columns: 1.05fr 3fr 1fr;
}

.portfolio-header-bio,
.portfolio-header-image,
.portfolio-header-metrics {
  flex: 1;
}

.portfolio-header-image {
  display: flex;
  justify-content: center;
  padding: 35px;
}

.portfolio-header-image-frame {
  height: 786px;
  width: 560px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 300px;
  overflow: hidden;
}

.portfolio-header-image-holder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* background: gray; */
  border-radius: 300px;
  border: 35px solid rgba(255, 255, 255, 1);
}

.portfolio-header-image-frame img {
  height: 100%;
  object-fit: cover;
  border-radius: 300px;
}

.portfolio-info-content {
  font-size: 24px;
}

.a-hover {
  transition: 500ms ease-in-out;
  -webkit-transition: 500ms ease-in-out;
}

.a-hover:hover {
  color: var(--theme-color);
}

.portfolio-subscribe {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
}

.portfolio-subscribe img {
  height: 50px;
}

.portfolio-subscribe a {
  display: flex;
  justify-content: center;
  transition: 500ms ease-in-out;
  -webkit-transition: 500ms ease-in-out;
}

.portfolio-subscribe a img {
  width: 0px;
  height: 30px;
  transform: translateY(7px);
  object-fit: contain;
  filter: grayscale(20);
  transition: 500ms ease-in-out;
  -webkit-transition: 500ms ease-in-out;
}

.portfolio-subscribe a:hover {
  color: #ff0000;
  text-decoration: underline;
}

.portfolio-subscribe a:hover img {
  width: 30px;
  filter: grayscale(0);
}